@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


#block {
    background: url('https://lh4.googleusercontent.com/-y2cHBUjjJ78/VLV-YvTsnUI/AAAAAAABDk0/SSBIQMJhcuo/s800/DSCN0212.JPG') no-repeat center ;
    background-size: cover;
    width: 1312px;
    height: 672px;
    border-radius: 64px;
    margin: 64px;
    color: fff;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    line-height: 672px;
    position: center;
    
}

body {
    background: #1A1A1A;
    color: #fff;
    font-family: "Ubuntu", sans-serif;

}

main {
   /* background-color: rgb(85, 85, 239);*/
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    width: 1312px;
    height: 167px;
    margin: 64px;
}
#kto_ya {
    float: left;
    font-size: 48px;
    margin-top: -5px;
}
#infa {
   /* background-color: blue;*/
    width: 555px;
    height: 167;
    text-align: right;
    font-size: 20px;
    float: right;

}
#ava {
    width: 80px;
    border-radius: 50%;
    float: left;
    padding-right: 10px;

}
#content {
    float: right;
}
#FIO {
    font-size: 24px;
    float: left;
    font-weight: 700;
}

.tit {
    font-size: larger;
    color: #2d4257;
}

#change {
    background: url('https://cdn-icons-png.flaticon.com/128/10784/10784160.png') no-repeat center center;
    background-size: 17px 17px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
    line-height: 24px;
}

#change:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}
#table {
    float: right;
    height: 120px;
    width: 451px;
    float: left;
}

#form {
    /*background-color: aqua;*/
display: flex;
flex-direction: column;
padding: px;
gap: 24px;

position: absolute;
width: 1312px;
height: 765px;
margin-left: 64px;
margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#sozd {
    font-weight: 700;
    font-size: 48px;
    width: 699;
    height: 53;

}
#big_pole {
    background: #232323;
    width: 1312px;
    height: 654px;
    border-radius: 56px;
    margin-top: auto;
    padding: 32px;
}

#name_post {
    width: 1248px;
    height: 50px;
    border-radius: 34px;
    padding-top: 19px;
    padding-right: 24px;
    padding-bottom: 19px;
    padding-left: 24px;
    gap: 10px;
    opacity: 1;
    font-size: 24px;
    background: #3A3A3A;

}
#post {
    width: 1248px;
    height: 414px;
    font-size: 24px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 34px;
    background: #3A3A3A;
    gap: 10px;
    margin: 20px 0px;
    
}
#sent_post {
    width: 277px;
    height: 64px;
    border-radius: 24px;
    padding-top: 19px;
    padding-right: 16px;
    padding-bottom: 19px;
    padding-left: 16px;
    gap: 10px;
    opacity: 0.5;
    background: #304CA6;
    font-size: 24px;
    color: #fff;
    transition: all 500ms ease;
}
#sent_post:hover {
    background: #0b055a;
}
/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
   
}

.modal-content {
    background-color: #232323;
    margin: 64px;
    padding: 30px;
    border-radius: 34px;
    width: 100%;
    max-width: 1312px;
    position: relative;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

.close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}

.close:hover {
    color: #ccc;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 12px 16px;
    border-radius: 24px;
    border: none;
    background: #3A3A3A;
    color: white;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    background: #4A4A4A;
}

.form-actions {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 30px;
}

.btn-save, .btn-cancel {
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}

.btn-save {
    background: #304CA6;
    color: white;
}

.btn-save:hover {
    background: #0b055a;
}

.btn-cancel {
    background: #6c757d;
    color: white;
}

.btn-cancel:hover {
    background: #545b62;
}

/* Стиль для кнопки изменения */


name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/*
#block {
display: flex;
flex-direction: coluzmn;
justify-content: space-between;
align-items: center;
padding: 64px 132px 32px;
gap: 64px;

position: absolute;
width: 1312px;
height: 672px;
left: 64px;
top: 64px;

background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL7S0BTFVm3zUdyo9F39D_9EWDCea0Fxarmg&s);
border-radius: 64px;

}
#privet {

margin: 0 auto;
width: 650px;
height: 122px;

font-family: "Ubuntu", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 95%;
text-align: center;
letter-spacing: -0.02em;

color: #000000;

flex: none;
order: 1;
flex-grow: 0;

}
body {

position: relative;
width: 1440px;
height: 2879px;

background: #1A1A1A;


}

main {

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 283px;

position: absolute;
width: 1312px;
height: 167px;
left: 64px;
top: 828px;


}
#kto_ya {

width: 435px;
height: 53px;

font-family: "Ubuntu", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 53px;

color: #FFFFFF;


flex: none;
order: 0;
flex-grow: 0;

}


#infa {
    background-color: blue;
    
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 555px;
height: 167px;


flex: none;
order: 1;
flex-grow: 0;

}


#ava {
width: 80px;
height: 80px;

background: #FFFFFF;
border-radius: 1000px;

flex: none;
order: 0;
flex-grow: 0;


}

#content {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 451px;
height: 167px;

flex: none;
order: 1;
flex-grow: 0;

}
#name {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 420px;
height: 27px;

flex: none;
order: 0;
flex-grow: 0;

}


#FIO {
width: 392px;
height: 27px;

font-family: "Ubuntu", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 27px;
color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;

}


#change {
width: 20px;
height: 20px;

flex: none;
order: 1;
flex-grow: 0;
position: absolute;
left: 11.09%;
right: 6.25%;
top: 6.25%;
bottom: 11.09%;

background: #FFFFFF;

}




